<form 
  #form="ngForm" 
  (ngSubmit)="onSubmit(form)" 
  class="box has-background-white-ter p-5"
  style="max-width: 700px; margin: auto;"
>
  <h2 class="title is-4 has-text-centered has-text-info mb-5">
    📝 Preencha os Campos Abaixo
  </h2>

  <div *ngFor="let field of fields" class="field mb-4">
    <label class="label has-text-weight-semibold has-text-grey-dark">
      {{ field.label }}
    </label>
    <div class="control">
      <ng-container [ngSwitch]="field.type">
        <!-- Input de Texto -->
        <input 
          *ngSwitchCase="'text'" 
          [(ngModel)]="formData[field.name]" 
          [name]="field.name" 
          [required]="field.required"
          [minlength]="field.name === 'nomeCompleto' ? 3 : null"
          class="input is-rounded is-info"
        />
        <!-- Mensagem de erro para Nome Completo -->
        <p 
          class="help is-danger" 
          *ngIf="field.name === 'nomeCompleto' && form.submitted && formData[field.name]?.length < 3">
          O nome deve ter pelo menos 3 caracteres.
        </p>

        <!-- Email -->
        <input 
          *ngSwitchCase="'email'" 
          [(ngModel)]="formData[field.name]" 
          type="email" 
          [name]="field.name" 
          [required]="field.required"
          class="input is-rounded is-info"
        />
        <!-- Número -->
        <input 
          *ngSwitchCase="'number'" 
          [(ngModel)]="formData[field.name]" 
          type="number" 
          [name]="field.name" 
          [required]="field.required"
          class="input is-rounded is-info"
        />
        <!-- Data -->
        <input 
          *ngSwitchCase="'date'" 
          [(ngModel)]="formData[field.name]" 
          type="date" 
          [name]="field.name" 
          [required]="field.required"
          class="input is-rounded is-info"
        />
        <!-- Select -->
        <div class="select is-rounded is-info is-fullwidth" *ngSwitchCase="'select'">
            <select
              [(ngModel)]="formData[field.name]" 
              [name]="field.name" 
              [required]="field.required">
              <option value="" disabled></option> <!-- Opção padrão vazia -->
              <option *ngFor="let opt of field.options" [value]="opt">
                {{ opt }}
              </option>
            </select>
          </div>
      </ng-container>
    </div>
    <p class="help is-danger" *ngIf="form.submitted && field.required && !formData[field.name]">
      Este campo é obrigatório.
    </p>
  </div>

  <button 
    type="submit" 
    class="button is-primary is-fullwidth is-rounded mt-4">
    Próximo
  </button>
</form>