<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-8 has-text-centered">
        <div class="box p-6 custom-box">
          <h1 class="title is-2 has-text-white mb-3">
            Bem-vindo!
          </h1>
          <p class="subtitle is-5 has-text-white">
            Testando um Multi-Form em Angular com uma experiência incrível!
          </p>
          <button 
            class="button is-light is-medium is-rounded mt-4"
            (click)="navigateToForm()">
            Ir para o formulário
          </button>
        </div>
      </div>
    </div>
  </div>
</section>